
<div class="leftNav">
    <ul style="padding: 50px;">
        <li>CSS Broder</li>
        <li>CSS Colors</li>
        <li>CSS color Keywords</li>
        <li>CSS Shadow</li>
        <li>CSS Text Effects</li>
        <li>CSS web fonts</li>
        <li>CSS 2D Transform</li>
        <li>CSS 3D Transform</li>
        <li>Tooltips</li>
        <li>CSS style images</li>
        <li>payment</li>
        <li>subscription</li>
        <li>menu</li>
        <li>about</li>
        <li>payment</li>
        <li>subscription</li>
        <li>menu</li>
        <li>about</li>
        <li>payment</li>
        <li>subscription</li>
        <li>menu</li>
        <li>about</li>
        <li>payment</li>
        <li>subscription</li>
        <li>menu</li>
        <li>about</li>
        <li>payment</li>
        <li>subscription</li>
        <li>menu</li>
        <li>about</li>
        <li>payment</li>
        <li>subscription</li>

        
    </ul>

   
</div>
